<div class="container">
   
  <div class="row">

      <div class="col-sm-4">
          <img src="assets/images/iPhone.jpg" width="350px">
      </div>
      <div class="col-sm-4">
        <br />
          <h5> Apple iPhone 7 with FaceTime - 256GB, 4G LTE, Red </h5>
          <h6>$541.50</h6>
          <h6>Description:</h6>
          <p>The Apple iPhone 7 sports significant improvements and stays true to all its pre launch hype. This stunning red, all metal phone comes loaded with iOS 10 operating system. The OS features an improved Siri, which is a voice activated assistant, so you can perform various tasks like opening applications, finding directions, etc. by using just your voice.
             The phone operates on ...</p>
             <h6>Memory Ram:128 GB</h6>
             <h6>Storage Capacity:256 GB</h6>
      </div>
      <div class="col-sm-4">
          <br /><br /><br />
          <button type="button" class="btn btn-md" style="background-color:#607d8b;" routerLink="/form"  ng-click="showForm()" >Buy now </button>
      </div>
  </div>


<br /><br />

<div class="container">
  
    <div class="row">
  
        <div class="col-sm-4">
            <img src="assets/images/iphone3.png" width="350px">
        </div>
        <div class="col-sm-4">
          <br />
            <h5> Apple iPhone 7 with FaceTime - 256GB, 4G LTE, Red </h5>
            <h6>$457.11</h6>
            <h6>Description:</h6>
            <p>If you are keen on a smartphone that facilitates quick processing of tasks, the Apple iPhone 6s Plus makes a great choice. The new 3D Touch technology helps make interactions with tasks, applications, and games quick as well as effortless. A large 5.5inch Retina touchscreen makes this smartphone a joy to use. 
              New features serve to make iOS 9, which features a simple user interface, ...</p>
               <h6>Memory Ram:2 GB</h6>
               <h6>Storage Capacity:256GB</h6>
        </div>
        <div class="col-sm-4">
            <br /><br /><br />
            <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form" >Buy now</button>
        </div>
    </div>
  <br /><br />

  <div class="container">
  
      <div class="row">
    
          <div class="col-sm-4">
              <img src="assets/images/samsung2.jpg" width="350px">
          </div>
          <div class="col-sm-4">
            <br />
              <h5> Samsung Galaxy S8 Dual Sim - 64GB, 4G LTE, Orchid Gray</h5>
              <h6>$380.88</h6>
              <h6>Memory Ram:4 GB</h6>
              <h6>Storage Capacity:64 GB</h6>
              <h6>Number of SIM:Dual SIM</h6>
          </div>
          <div class="col-sm-4">
              <br /><br /><br />
              <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form" >Buy now</button>
          </div>
      </div>
    
<br /><br />

<div class="container">
  
    <div class="row">
  
        <div class="col-sm-4">
            <img src="assets/images/iphone4.jpg" width="350px">
        </div>
        <div class="col-sm-4">
          <br />
            <h5> Apple iPhone 8 PLUS 64GB RED & All Colors! GSM & CDMA Unlocked!! Brand New!!</h5>
            <h6>$765.00</h6>
            <h6>Memory Ram:3 GB</h6>
            <h6>Storage Capacity:64 GB</h6>
            <h6>Memory Card Type:	Built-In Memory</h6>
        </div>
        <div class="col-sm-4">
            <br /><br /><br />
            <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form" >Buy now</button>
        </div>
    </div>
