<div class="container">
    <div class="row">
  
      <div class="col-sm-5">
          <br /> 
          <img src="assets/images/watch2.jpg" width="350px"/>
      </div>
      <div class="col-sm-7">
            <br /><br />
            <h6>Mens 36 MM Rolex President 18038 18k Yellow Gold Day-Date with 6.5 Ct Diamond</h6>
            <h6>Price: $14,799.99</h6>
            <br /><br />
            <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form"  data-toggle="modal" data-target="#modalForm" >Buy now</button>
      </div>
    </div>

    <br /><br />

    <div class="row">
  
        <div class="col-sm-5">
            <br /> 
            <img src="assets/images/watch3.jpg" width="350px"/>
        </div>
        <div class="col-sm-7">
              <br /><br />
              <h6>Seiko SNE102 Solar Men's Dress Blue Dial Stainless Steel Brown Leather Watch</h6>
              <h6>Price: $85.00</h6>
              <br /><br />
              <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form"  data-toggle="modal" data-target="#modalForm" >Buy now</button>
        </div>
      </div>

      <br /><br />

      <div class="row">
  
          <div class="col-sm-5">
              <br /> 
              <img src="assets/images/watch5.jpg" width="350px"/>
          </div>
          <div class="col-sm-7">
                <br /><br />
                <h6>Invicta Specialty 21375 Men's Round Carbon Chronograph Date Analog Watch</h6>
                <h6>Price: $59.99</h6>
                <br /><br />
                <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form"  data-toggle="modal" data-target="#modalForm" >Buy now</button>
          </div>
        </div>

        <br /><br />

        <div class="row">
  
            <div class="col-sm-5">
                <br /> 
                <img src="assets/images/watch6.jpg" width="350px"/>
            </div>
            <div class="col-sm-7">
                  <br /><br />
                  <h6>Casio New Original MDV-106-1AV 200M Duro Analog Mens Watch Black MDV-106 MDV106
                    </h6>
                  <h6>Price: $80.74</h6>
                  <br /><br />
                  <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form"  data-toggle="modal" data-target="#modalForm" >Buy now</button>
            </div>
          </div>

        
</div>