<div class="container">
  <div class="row">

    <div class="col-sm-5">
         <img src="assets/images/eyeShadow.jpg" width="350px"/>
    </div>
    <div class="col-sm-7">
          <br /><br />
          <h6>NEW Professional Makeup Eye Shadow Palette Waterproof 40/120/252 Colors Hot Sale</h6>
          <h6>Price: $9.35</h6>
          <br /><br />
          <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form"  data-toggle="modal" data-target="#modalForm" >Buy now</button>
    </div>
  </div>

  <br /><br />

  <div class="row">

      <div class="col-sm-5">
           <img src="assets/images/cream.jpg" width="350px"/>
      </div>
      <div class="col-sm-7">
            <br /><br />
            <h6>2018 Dermacol High Cover Makeup Foundation Waterproof SPF-30K.BUY 4 & FREE GEFT</h6>
            <h6>Price: $6.99</h6>
            <br /><br />
            <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form"  data-toggle="modal" data-target="#modalForm" >Buy now</button>
      </div>
    </div>
  
  <br/><br />

  <div class="row">

      <div class="col-sm-5">
           <img src="assets/images/Lipstick.jpg" width="350px"/>
      </div>
      <div class="col-sm-7">
            <br /><br />
            <h6>NYX Cosmetics Soft Matte Lip Cream Liquid Gloss Lipstick Long Lasting 34 Colors</h6>
            <h6>Price: $1.79</h6>
            <br /><br />
            <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form"  data-toggle="modal" data-target="#modalForm" >Buy now</button>
      </div>
    </div>

<br /><br />

<div class="row">

    <div class="col-sm-5">
         <img src="assets/images/Mascara.jpg" width="350px"/>
    </div>
    <div class="col-sm-7">
          <br /><br />
          <h6>Cosmetic Black Mascara Makeup Eyelash Waterproof Extension Curling Eye Lashes</h6>
          <h6>Price: $2.79</h6>
          <br /><br />
          <button type="button" class="btn btn-md" style="background-color:#607d8b;"  routerLink="/form"  data-toggle="modal" data-target="#modalForm" >Buy now</button>
    </div>
  </div>
</div>