<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:	#7191a1;" role="navigation">
  <!-- <a class="navbar-brand">E-mart</a> -->
  <h4>E-mart</h4>
  
</nav>
  
<br />

<div class="container">
    <img src="assets/images/shopping.jpg" alt="image" width="1000px" height="500px">
  </div>

  <br />

  <div class="container">
      
    <div class="row">
          
          <div class="col-sm-4">
              <div class="jumbotron">
              <div class="container">
                  <i class="fas fa-check-square" ></i>
                  <h6 class="align-middle">Unique everything</h6>
              </div>
              </div> 
          </div>
    
          <div class="col-sm-4">
              <div class="jumbotron">
                  <i class="fas fa-check-square" ></i>
                  <h6>Independent sellers</h6>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="jumbotron">
                  <i class="fas fa-check-square" ></i>
                  <h6>Secure shopping</h6>
              </div>
          </div>
        </div>
  </div>

<br />

<div class="container">
<nav>
  <div class="row">
          
        <div class="col-sm-4">
             <img src="assets/images/phone.jpg"  width="350px" class="rounded-circle" ><br />
              <br />

              <button type="button" class="btn btn-md" style="background-color:	#607d8b;" routerLink="/product1" > Smartphones and accesories</button>
        </div>

       <div class="col-sm-4">
            <img src="assets/images/beauty2.jpg"  width="330px" height="200px" class="rounded-circle"  ><br />
             <br />
             <button type="button" class="btn btn-md" style="background-color:#607d8b;" routerLink="/product2">Health & Beauty</button>
       </div>

       <div class="col-sm-4">
          <img src="assets/images/watch.jpg"  width="250px" height="200px" class="rounded-circle" ><br />
           <br />
           <button type="button" class="btn btn-md" style="background-color:#607d8b;" routerLink="/product3">Watches</button>
     </div>

    </div>
</nav>
</div>

<br /><br />
    
<router-outlet></router-outlet>    
